ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}
/*header*/
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo .studio {
  color: #2e2f42;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  text-align: right;
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address {
  display: flex;
  gap: 40px;
}
.inside-header {
  display: flex;
  align-items: center;
}

/*HEADER END*/

/*MAIN BEGIN*/

/*SECTION 1*/
.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
}
/*.inside-solutions {
  background-color: #2e2f42;
}*/
.solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*SECTION 1 END*/

/*SECTION 2*/

.advantage_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantage_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*SECTION 2 END*/

/*SECTION 3*/

.section-three {
  background-color: #f4f4fd;
}
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  display: flex;
}
.team_name {
  background-color: #ffffff;
}
.team_fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team_posit {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*SECTION 3 END*/

/*SECTION 4*/

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*SECTION 4 END*/

/*FOOTER*/

.footer {
  background-color: #2e2f42;
}
.f_studio {
  color: #f4f4fd;
}
.f_text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/*FOOTER END*/
