ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}

/*header*/
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}
.logo .studio {
  color: #2e2f42;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  text-align: right;
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}
.header > .container {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address {
  display: flex;
  gap: 40px;
}
.inside-header {
  display: flex;
}

/*HEADER END*/

/*MAIN BEGIN*/

/*SECTION 1*/
.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
}
.solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*SECTION 1 END*/

/*SECTION 2*/

.advantage {
  display: flex;
  gap: 24px;
}
.advantage-list {
  width: calc((100% - 72px) / 4);
}
.advantage_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*SECTION 2 END*/

/*SECTION 3*/

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  padding: 32px 0;
}
.team_name {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team_fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  text-align: center;
}
.team_posit {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*SECTION 3 END*/

/*SECTION 4*/

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-product {
  width: calc((100% - 48px) / 3);
}
.product-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team_fullname {
  margin-bottom: 8px;
}

/*SECTION 4 END*/

/*FOOTER*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.f_studio {
  color: #f4f4fd;
}
.f_text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
/*FOOTER END*/
