ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}
h1.h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*header*/
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}
.logo .studio {
  color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header > .container {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.fclink::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address {
  font-style: normal;
  display: flex;
  text-align: right;
  gap: 40px;
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.inside-header {
  display: flex;
}

/*HEADER END*/

/*MAIN BEGIN*/

/*SECTION 1*/
.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(..//images/people-office.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;

  margin: 0 auto;
}
.solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*SECTION 1 END*/

/*SECTION 2*/

.advantage {
  display: flex;
  gap: 24px;
}
.advantage-list {
  width: calc((100% - 72px) / 4);
}
.box-icon {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.icon {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.advantage_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*SECTION 2 END*/

/*SECTION 3*/

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;

  justify-content: center;
  gap: 24px;
}
.team_name {
  background-color: #ffffff;
  width: 264px;
  height: 428px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team_fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team_posit {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-card {
  padding: 32px 0;
}
.team-card-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-card-icon {
  width: 40px;
  height: 40px;
}
.link-contact {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover,
.link-contact:focus {
  background-color: #404bbf;
}
.icon-contact {
  fill: #f4f4fd;
}

/*SECTION 3 END*/

/*SECTION 4*/

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-product {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-product:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-content {
  position: relative;
  overflow: hidden;
}
.card-content:hover .card-content-p {
  transform: translateY(0%);
}
.card-content-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team_fullname {
  margin-bottom: 8px;
  text-align: left;
}

/*SECTION 4 END*/

/*FOOTER*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.f_content {
  display: flex;
  align-items: baseline;
  max-width: 100%;
  justify-content: space-around;
}
.f-l-t {
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.f_studio {
  color: #f4f4fd;
}
.f_text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
}
.social-link {
  display: flex;
  gap: 16px;
}
.link-list {
  width: 40px;
  height: 40px;
}
.f-link-contact {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f-link-contact:hover,
.f-link-contact:focus {
  background-color: #31d0aa;
}
.subscribe {
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.form-label-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.form-label-email::placeholder {
  color: #ffffff;
  opacity: 1;
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.paper-plane {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}

/*FOOTER END*/

/* MODAL WINDOW START*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%), scale(1.5);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover,
.close-modal:focus {
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-box-one {
  margin-bottom: 8px;
}
.name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-box-name {
  position: relative;
}
.modal-box-name-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-name-input:focus {
  border-color: #4d5ae5;
}

.modal-box-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-name:focus-within .modal-box-name-svg {
  fill: #4d5ae5;
}
.modal-box-comment {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}
.policy {
  margin-bottom: 24px;
}
.policy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
:root {
  --background-checked: #404bbf;
  --icon-fill: #f4f4fd;
}
.policy input:checked + .policy-label .label-span {
  background-color: var(--background-checked);
  border: none;
  fill: var(--icon-fill);
}
.privacy-policy {
  color: #4d5ae5;
}
.send-button {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MEDIA START*/
/*TABLET SIZE START*/
@media (min-width: 768px) and (max-width: 1158px) {
  .navigation {
    margin-right: 0;
    width: 100%;
  }
  .menu-list {
    margin: 0 auto;
  }
  .address {
    flex-direction: column;
    gap: 4px;
    text-align: right;
    margin-left: auto;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }
  .section-one {
    width: 100%;
  }
  .box-icon {
    display: none;
  }
  .advantage_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
  }
  .advantage_text {
    font-weight: 500;
  }
  .advantage-list {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
  .advantage {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    gap: 24px;
  }
  .team_name {
    width: 264px;
    height: 428px;
    gap: 24px;
  }
  .team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-product {
    width: calc((100% - 24px) / 2);
  }
  .f_content {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: space-evenly;
  }
}
/*
  test variants for footer
  .f_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .f_content .f-l-t,
  .f_content .social,
  .f_content .subscribe {
    flex: 1 1 45%;
    margin-bottom: 30px;
  }
*/
/*
  .f_content {
    flex-wrap: wrap;
    gap: 72px 24px;
    padding: 0 15px;
  }
  .f-l-t {
    margin-left: 0;
    flex: 0 0 calc(50% - 12px);
  }
  .social {
    flex: 0 0 calc(50% - 12px);
    margin: 0;
  }
  .subscribe {
    width: 100%;
    margin: 0;
  }
    */

/*TABLET SIZE END*/
/*MEDIA END*/
